# Prevent access to our config file from the Web (if we're running Apache)
<FilesMatch "\.ini$">
    Order Allow,Deny
    Deny From All
</FilesMatch>

Options -MultiViews
RewriteEngine On

# If Quassel LogSearch isn't installed in your web document root (i.e. if it's in a subdirectory of your domain),
#  uncomment the below line and change it to point to the subdirectory where this app is installed
# RewriteBase /quassel-logsearch/

# Rewrite all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

# This is needed for PHP 5.3 where short_open_tag=off also disabled the `<?=` shortcut which we rely on
php_flag short_open_tag On
