<?php
//
// config-file for Quassel Backlog Search
//      developed 2009-2012 by m4yer <m4yer@minad.de> under a Creative Commons Licence by-nc-sa 3.0
//

//
// choose backend postgresql, sqlite or mysql (simple remove and/or add #)
//

$backend = "postgresql";    // php-version with PostgreSQL Support (pgsql) required
#$backend = "sqlite";   // php-version with PDO Driver for SQLite 3.x required
#$backend = "mysql";    // EXPERIMENTAL and UNSUPPORTED - php-version with mysqli support required
// WARNING: please edit databaseinformations below.


//
//  timezone
//  your timezone, eg. 'Europe/Berlin'
//  supported timezones see here: http://php.net/manual/en/timezones.php
//
//  summertime will be choosen automaticly by the server.
//

$timezone = 'GMT';

//
// language
// see supported languages in i18n/
// Default: en_US
//

$language = "en_US";

//
// dateformat
// for help see: http://php.net/manual/en/function.date.php#format
//

$dateformat = "d.m.y H:i:s";

//
// postgresql data; (just examples, please edit)
// needed if backend postgresql
//

$host = "localhost";
$port = "5432";
$user = "quassel";
$password = "somepassword";
$dbname = "quassel";
 
 
//
// path to quassel-storage.sqlite; (just examples, please edit)
// needed if backend sqlite
//
// Info: must be browsable with php (within the web-path) and readable! (tipp: links should also work)
//

$sqlitedb = "/path/to/quassel-storage.sqlite";


//
// mysql data; (just examples, please edit)
// needed if backend mysql
//

$sql_host = "localhost";
$sql_port = "3306";
$sql_user = "quassel";
$sql_password = "somepassword";
$sql_dbname = "quassel";

//
//  path to the quasselcore binary
//  only required, if you want the Quasselcore-version in your about-page
//

$corebinary = "/usr/bin/quasselcore";

//
//  debug (experimental use only)
//
//
//  enable debuger, if errors occure to get full php-error-output; for normal users default-error-handling should do it.
//  debug throws out LOTS of messages and also logs error. just for testing not for use!
//

$debug = "release"; // set to "debug" to enable debuging-class




#################################################################
// experimental featueres



// livesearch - search and display line by line

$livesearch = "true"; // EXPERIMENTAL (and  inefficient), but gives the feeling of speed ("true" or "false")



// number of lines to search - default value, if nothing is stored by cookie

$defaultnr = 20; // EXPERIMENTAL

#################################################################
#
# parse config, please do not edit anything below here!
#
$config_version = '1.2';
require('parseconf.php');

?>