/* Config variables */
body {
  background-color: #eee;
}

::-webkit-input-placeholder {
  font-style: oblique;
  font-weight: bold;
}

:-moz-placeholder {
  font-style: oblique;
  font-weight: bold;
}

::-moz-placeholder {
  font-style: oblique;
  font-weight: bold;
}

:-ms-input-placeholder {
  font-style: oblique;
  font-weight: bold;
}

::-moz-selection {
  color: #5bc0de;
  background: #428bca;
}

::selection {
  color: #5bc0de;
  background: #428bca;
}

/* Pages */
.buffer-list {
  position: fixed;
  top: 51px;
  bottom: 50px;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login h2 {
  margin-bottom: 10px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

#search-form form {
  margin-top: 8px;
}
#search-form form label[for="q"] {
  display: none;
}
#search-form form input[name="q"] {
  display: block;
  margin: 0;
}
#search-form form button[type="submit"] {
  display: block;
  margin: 0 0 0 5px;
  float: right;
}

body {
  margin-top: 60px;
}

.logged-in-as {
  font-weight: bold;
}

#flashes {
  position: fixed;
  top: 35px;
  left: 20%;
  width: 60%;
  z-index: 2000;
  cursor: pointer;
  -webkit-box-shadow: 0 20px 50px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 20px 2px 20px;
  border-radius: 20px;
}
