/* Config variables */
body {
  background-color: #eee;
}
body ::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}
body ::-webkit-scrollbar-thumb {
  background: #428bca;
  -o-border-radius: 10px;
  border-radius: 10px;
}
body ::-webkit-scrollbar-track {
  background: transparent;
}
body body {
  scrollbar-face-color: #428bca;
  scrollbar-track-color: transparent;
}

::-webkit-input-placeholder {
  font-style: oblique;
  font-weight: bold;
}

:-moz-placeholder {
  font-style: oblique;
  font-weight: bold;
}

::-moz-placeholder {
  font-style: oblique;
  font-weight: bold;
}

:-ms-input-placeholder {
  font-style: oblique;
  font-weight: bold;
}

::-moz-selection {
  color: #5bc0de;
  background: #428bca;
}

::selection {
  color: #5bc0de;
  background: #428bca;
}

.mirc-formatted {
  /**/
}

.mirc-bold {
  font-weight: bold;
}

.mirc-italic {
  font-style: italic;
}

.mirc-underline {
  text-decoration: underline;
}

.mirc-colour {
  /**/
}

.mirc-colour-fg-white {
  color: white;
}

.mirc-colour-fg-black {
  color: black;
}

.mirc-colour-fg-blue {
  color: blue;
}

.mirc-colour-fg-green {
  color: green;
}

.mirc-colour-fg-red {
  color: red;
}

.mirc-colour-fg-brown {
  color: brown;
}

.mirc-colour-fg-purple {
  color: purple;
}

.mirc-colour-fg-orange {
  color: orange;
}

.mirc-colour-fg-yellow {
  color: yellow;
}

.mirc-colour-fg-light-green {
  color: lightgreen;
}

.mirc-colour-fg-teal {
  color: teal;
}

.mirc-colour-fg-light-cyan {
  color: lightcyan;
}

.mirc-colour-fg-light-blue {
  color: lightblue;
}

.mirc-colour-fg-pink {
  color: pink;
}

.mirc-colour-fg-grey {
  color: grey;
}

.mirc-colour-bg-white {
  background-color: white;
}

.mirc-colour-bg-black {
  background-color: black;
}

.mirc-colour-bg-blue {
  background-color: blue;
}

.mirc-colour-bg-green {
  background-color: green;
}

.mirc-colour-bg-red {
  background-color: red;
}

.mirc-colour-bg-brown {
  background-color: brown;
}

.mirc-colour-bg-purple {
  background-color: purple;
}

.mirc-colour-bg-orange {
  background-color: orange;
}

.mirc-colour-bg-yellow {
  background-color: yellow;
}

.mirc-colour-bg-light-green {
  background-color: lightgreen;
}

.mirc-colour-bg-teal {
  background-color: teal;
}

.mirc-colour-bg-light-cyan {
  background-color: lightcyan;
}

.mirc-colour-bg-light-blue {
  background-color: lightblue;
}

.mirc-colour-bg-pink {
  background-color: pink;
}

.mirc-colour-bg-grey {
  background-color: grey;
}

/* Pages */
#buffer-list {
  position: fixed;
  top: 51px;
  bottom: 50px;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#buffer-list .networks.list-group {
  margin-bottom: 0px;
}
#buffer-list .networks.list-group > .list-group-item {
  padding: 0px 6px 0px 6px;
  margin-bottom: 5px;
}
#buffer-list .networks.list-group > .list-group-item h4.network-name {
  margin: 5px 0 3px 0;
}
#buffer-list .buffers.list-group {
  margin-bottom: 6px;
}
#buffer-list .buffers.list-group .list-group-item {
  font-size: 11px;
  padding: 0 0 0 8px;
  min-height: 10px;
}

#messages-area {
  position: absolute;
  top: 51px;
  bottom: 50px;
  overflow: auto;
}
#messages-area ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
#messages-area li {
  text-indent: -17.3em;
  padding-left: 17.3em;
  font-size: 80%;
  line-height: 110%;
  /*
  <color name="chat_line_self_light">#000000</color>
  <color name="chat_line_highlight_light">#ff8000</color>
  */
  /*
  <color name="chat_line_self_dark">#009966</color>
  <color name="chat_line_plain_dark">#debc85</color>
  <color name="chat_line_notice_dark">#916409</color>
  <color name="chat_line_action_dark">#007a80</color>
  <color name="chat_line_nick_dark">#633b5a</color>
  <color name="chat_line_mode_dark">#346E9E</color>
  <color name="chat_line_join_dark">#005538</color>
  <color name="chat_line_part_dark">#633b5a</color>
  <color name="chat_line_quit_dark">#683A38</color>
  <color name="chat_line_kick_dark">#633b5a</color>
  <color name="chat_line_kill_dark">#633b5a</color>
  <color name="chat_line_server_dark">#916409</color>
  <color name="chat_line_info_dark">#916409</color>
  <color name="chat_line_error_dark">#916409</color>
  <color name="chat_line_daychange_dark">#916409</color>
  <color name="chat_line_topic_dark">#633b5a</color>
  <color name="chat_line_netsplitjoin_dark">#005538</color>
  <color name="chat_line_netsplitquit_dark">#683A38</color>
  <color name="chat_line_highlight_dark">#00583a</color>
  <color name="chat_line_timestamp_dark">#707c70</color>
  */
}
#messages-area li .timestamp {
  display: inline-block;
  width: 10.5em;
  overflow-x: hidden;
  margin-right: 0.2em;
  text-indent: 0;
  font-size: 80%;
  color: #707c70;
}
#messages-area li .sender {
  display: inline-block;
  width: 8em;
  overflow-x: hidden;
  text-align: right;
  margin-right: 0.1em;
  text-indent: 0;
}
#messages-area li .senderName {
  margin-left: 0.1em;
  margin-right: 0.1em;
}
#messages-area li .message {
  vertical-align: top;
}
#messages-area li .message * {
  vertical-align: top;
}
#messages-area li.msgtype_1 .message {
  color: #000000;
}
#messages-area li.msgtype_2 .message {
  color: #916409;
}
#messages-area li.msgtype_4 .message {
  color: #0000ff;
}
#messages-area li.msgtype_8 .message {
  color: #960096;
}
#messages-area li.msgtype_10 .message {
  color: #960096;
}
#messages-area li.msgtype_20 .message {
  color: #960096;
}
#messages-area li.msgtype_40 .message {
  color: #960096;
}
#messages-area li.msgtype_80 .message {
  color: #960096;
}
#messages-area li.msgtype_100 .message {
  color: #960096;
}
#messages-area li.msgtype_200 .message {
  color: #960096;
}
#messages-area li.msgtype_400 .message {
  color: #916409;
}
#messages-area li.msgtype_800 .message {
  color: #916409;
}
#messages-area li.msgtype_1000 .message {
  color: #916409;
}
#messages-area li.msgtype_2000 .message {
  color: #916409;
}
#messages-area li.msgtype_4000 .message {
  color: #960096;
}
#messages-area li.msgtype_8000 .message {
  color: #960096;
}
#messages-area li.msgtype_10000 .message {
  color: #960096;
}
#messages-area li.msgtype_20000 .message {
  color: #960096;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login h2 {
  margin-bottom: 10px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}

#search-form form {
  margin-top: 8px;
}
#search-form form label[for="q"] {
  display: none;
}
#search-form form input[name="q"] {
  display: block;
  margin: 0;
}
#search-form form button[type="submit"] {
  display: block;
  margin: 0 0 0 5px;
  float: right;
}

body {
  margin-top: 60px;
}

.logged-in-as {
  font-weight: bold;
}

#flashes {
  position: fixed;
  top: 35px;
  left: 20%;
  width: 60%;
  z-index: 2000;
  cursor: pointer;
  -webkit-box-shadow: 0 20px 50px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 20px 2px 20px;
  border-radius: 20px;
}
