.wrap{
word-wrap: break-word; /* Internet Explorer 5.5+ */
width: 99%;
text-align:left;
display:inline
}

.cell {
display: inline !important;
text-align:left;
}

*.msg{
width:98%;
color: #4a4a4a !important;
background: #ffffff !important;
padding-bottom:1px;
}

.nick {
float:left;
display:inline;
color:#0000ff;
text-align:left;
min-width:0px;
}

*.date2 {
float:left;
}