body {
     margin: 0px;
     height: 100%;
     color: #4a4a4a;
     font: 9pt/10pt Verdana, Arial, Helvetica, Sans-Serif;
     vertical-align: top;
     text-align: justify;
     background: #6699cc;
     overflow-x: hidden;}

     
#footer {
    font: 6pt/7pt Verdana, Arial, Helvetica, Sans-Serif;
    color: white;
    }

#login,#postform {
    background: #6699cc;
    }

#loginform {
    margin:auto;
    text-align:center;
    position:relative;
    }
    
#scontent{
    background: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    }

:out-of-range {
	color : red;
	}

.wrap{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, seit 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 99%;
    display:table-row;
    text-align:left;
    }

.cell {
    display:table-cell;
    text-align:left;
    }
    
*.msg{
    width:98%;
    color: #4a4a4a !important;
    background: #ffffff !important;
        padding-bottom:1px;
    }

.nick {
    display:table-cell;
    min-width:120px;
    text-align:right;
    color:#0000ff;
    }
    
.date{
    white-space: nowrap; /* css-3 */
    white-space: -moz-nowrap !important; /* Mozilla, seit 1999 */
    white-space: -nowrap; /* Opera 4-6 */
    white-space: -o-nowrap; /* Opera 7 */
    padding-left: 6px;
    }    
    
    
input,textarea,select {
    border: 1px solid #4a4a4a;
    color: #4a4a4a;
    background: white;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;    
    }    
    

img {
     text-decoration: none;
     border: 0px solid white;
}

a {
    text-decoration: none;
    border: 0px solid white;
    background: inherit !important;
}

a:link,a:visited,a:active,.link{
     color: #4a4a4a;
     cursor: pointer; 
     text-decoration: none;
     font-weight: bold;
}

a:hover,a:focus, .link:hover {
     color: #4a4a4a;
     cursor: pointer; 
     text-decoration: none;
}

a.links {
     color: #0044CC;
     cursor: pointer; 
     text-decoration: none;
     font-weight: normal;    
    }
    
a.links:hover {
     color: #0044CC;
     cursor: pointer; 
     text-decoration: underline;
     font-weight: normal;   
    }
    
//mircfarben
.test{font-weight: 700 !important;}

.fett {font-weight: 700 !important;}
*.it {font-style: italic;}
*.un {text-decoration: underline;}

*.mirc00 { color: #ffffff; }
*.mirc01 { color: #000000; }
*.mirc02 { color: #000080; }
*.mirc03 { color: #008000; }
*.mirc04 { color: #ff0000; }
*.mirc05 { color: #800000; }
*.mirc06 { color: #800080; }
*.mirc07 { color: #ffa500; }
*.mirc08 { color: #ffff00; }
*.mirc09 { color: #00ff00; }
*.mirc0a { color: #008080; }
*.mirc10 { color: #008080; }
*.mirc0b { color: #00ffff; }
*.mirc11 { color: #00ffff; }
*.mirc0c { color: #4169e1; }
*.mirc12 { color: #4169e1; }
*.mirc0d { color: #ff00ff; }
*.mirc13 { color: #ff00ff; }
*.mirc0e { color: #808080; }
*.mirc14 { color: #808080; }
*.mirc0f { color: #c0c0c0; }
*.mirc15 { color: #c0c0c0; }

//mircbgfarben
.mircbg00 { background-color: #ffffff; }
.mircbg01 { background-color: #000000; }
.mircbg02 { background-color: #000080; }
.mircbg03 { background-color: #008000; }
.mircbg04 { background-color: #ff0000; }
.mircbg05 { background-color: #800000; }
.mircbg06 { background-color: #800080; }
.mircbg07 { background-color: #ffa500; }
.mircbg08 { background-color: #ffff00; }
.mircbg09 { background-color: #00ff00; }
.mircbg0a { background-color: #008080; }
.mircbg10 { background-color: #008080; }
.mircbg0b { background-color: #00ffff; }
.mircbg11 { background-color: #00ffff; }
.mircbg0c { background-color: #4169e1; }
.mircbg12 { background-color: #4169e1; }
.mircbg0d { background-color: #ff00ff; }
.mircbg13 { background-color: #ff00ff; }
.mircbg0e { background-color: #808080; }
.mircbg14 { background-color: #808080; }
.mircbg0f { background-color: #c0c0c0; }
.mircbg15 { background-color: #c0c0c0; }
