//@import "compass/reset";
//@import "compass";
@import "compass/css3";
//@import "compass/layout/sticky-footer";
//@import "compass/layout/stretching";
@import "compass/css3/images";

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}
@mixin selection {
    ::-moz-selection {@content}
    ::selection      {@content}
}
@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%), $borderRadius: 0px) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
    ::-webkit-scrollbar-thumb {
        background: $primary;
        @include border-radius($borderRadius);
    }
    ::-webkit-scrollbar-track {
        background: $secondary;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $primary;
        scrollbar-track-color: $secondary;
    }
}
