//#buffer-list {
//    position: absolute;
//    left: 0px;
////    top: 0px;
//    width: $bufferlistWidth;
//    height: 100%;
//    border-right: $bufferlistBorderWidth solid #000000;
//    overflow: auto;
//
//    ul.networks {
//
//        & > li {
//            padding-left: 5px;
//
//            .network-name {
//                font-weight: bold;
//            }
//        }
//    }
//
//    ul.buffers {
//        & > li {
//            padding-left: 20px;
//
//            .buffer-name {
//                font-weight: bold;
//            }
//        }
//    }
//}
.buffer-list {
    position: fixed;
    top: 51px;
    bottom: 50px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
