/* Config variables */

$bootstrapColorDefault: #777;
$bootstrapColorPrimary: #428bca;
$bootstrapColorSuccess: #5cb85c;
$bootstrapColorInfo: #5bc0de;
$bootstrapColorWarning: #f0ad4e;
$bootstrapColorDanger: #d9534f;
