#flashes {
    position: fixed;
    top: 35px;
    left: 20%;
    width: 60%;
    z-index: 2000;
    cursor: pointer;
    @include single-box-shadow(rgba(0, 0, 0, 0.5), /* x */ 0, /* y */ 20px, /* blur */ 50px, /* spread */ 15px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 20px 2px 20px;
    border-radius: 20px;
}
