body {
    background-color: #eee;
    @include scrollbar(0.8em, $bootstrapColorPrimary, transparent, 10px);
}

@include placeholder {
    font-style: oblique;
    font-weight: bold;
}

@include selection {
    color: $bootstrapColorInfo;
    background: $bootstrapColorPrimary;
}
