/*
<section id="search-form">
    <form action="search" method="get">
        <fieldset>
            <label for="q">Search for:</label>
            <input type="search" id="q" name="q" autocomplete="on" placeholder="Search query..." required><br>

            <button type="submit">Search</button>
        </fieldset>
    </form>
</section>
*/

#search-form {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: $searchFormHeight;
    padding-left: $bufferlistWidth;
    box-sizing: border-box;

    & > form {
        padding-left: $bufferlistBorderWidth;
        border-top: 3px solid #000000;
        width: 100%;
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
    }
}

